/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

$colour_grey: #c3b9c1;
$colour_grey_dark: darken( $colour_grey, 50% );
$colour_action: #294DFF;
$colour_white: #FCFAFC;

$tab_width: 2.4;
$tab_count: 3;

@-webkit-keyframes fullRotation {
	0% {
		@include transform( rotate( 0deg ) );
	}
	100% {
		@include transform( rotate( 360deg ) );
	}
}

*{
	//outline: 1px solid red;
	@include box-sizing( border-box );
}

a{
	text-decoration: none;
	color: $colour_action;	
	padding-bottom: 2px;
	border-bottom: 2px solid transparent;
	&:hover{	
		border-bottom: 2px solid $colour_action;
	}
}

html, body{
	width:100%;
	height: 100%;
	overflow: hidden;

	font-family: inconsolata, monospace;
	letter-spacing: 1px;
	font-size: 14px;
}

.column{
	float: left;
	width: 30%;
	margin-right: 3%;
	max-width: 480px;
	min-width: 240px;
	height: 100%;
	&.column--two{
		width: 63%;
		max-width: 960px;
		min-width: 480px;
	}
}

.has-loader{
	&.loading{
		&:before{
			position: absolute;
			top: 50%;
			margin-top: -0.6rem;
			left: 50%;
			margin-left: -0.6rem;
			display: block;
			content: '...';
			height: 0;
			width: 1.2rem;
			padding-top: 1.2rem;
			overflow: hidden;
			border-radius: 50%;
			background: $colour_grey;
		}
		&:after{
			position: absolute;
			display: block;
			overflow: hidden;
			content: '-';
			width: 1.2rem;
			height: 0;
			padding-top: 2px;	
			top: 50%;	
			left: 50%;
			margin-left: -0.6rem;		
			background: $colour_white;
			-webkit-animation: fullRotation 1s linear infinite;
		}
	}
}

.toggle{
	position: relative;
	display: block;
	border: 3px solid $colour_grey;
	color: $colour_grey;
	padding: 0 .6em;
	line-height: 2em;
	margin-bottom: 1em;
	cursor: pointer;
	&:hover{
		border: 3px solid $colour_grey_dark;
		color: $colour_grey_dark;
	}
	&.on{
		color: $colour_action;
		border: 3px solid $colour_action;
	}
	&.loading{
		&:before{
			left: auto;
			margin-left: 0;
			right: .6em;
		}
		&:after{
			left: auto;
			margin-left: 0;
			right: .6em;
		}
	}
	&.on.loading{
		&:before{
			background: $colour_action;
		}
	}
}

.controls{
	h1, h2, h3, h4, h5, h6{
		margin-bottom: 1em;
	}
	ul{
		li{
			line-height: 1.4em;
		}
	}
}

.prose{
	line-height: 1.4em;
	h1, h2, h3, h4, h5, h6{
		margin-bottom: 1.4em;
	}
	p{
		margin-bottom: 1.4em;
	}
}

.info-page--header{
	height: 3em;
	border-bottom: 1px solid $colour_grey_dark;
	margin-bottom: 3em;
	h1{
		float: left;
		line-height: 3em;
	}
	.toggle{
		float: right;
		padding: 0 2.5em;
	}
}

#modes{	
	width:100%;
	height: 100%;
	position: relative;
	.mode{
		width:100%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		background: $colour_white;
		@include transition( transform 1s ease-out, right 1s ease-out );
		
		.tab{
			display: block;
			height: 100%;
			width: $tab_width + em;
			position: absolute;
			left: 0;
			color: $colour_grey_dark;
			cursor: pointer;			
			@include transition( border-left 0.01s 1s ease-out );
			border-left: 1px solid transparent;
			border-right: 1px solid $colour_grey_dark;			
			&:hover{
				background: $colour_action;
				color: #FFFFFF;
			}
			h1{
				text-transform: uppercase;
				@include inline-block;
				position: absolute;
				height: $tab_width + em;
				top: 0;
				left: 0;
				line-height: $tab_width + em;
				padding-right: 1.8em;	
				@include transform-origin( 0, 50% );
				@include transform( rotate( -90deg ) translateY( 50% ) translateX( -100% ) );
				&:before{
					font-size: 1.6em;
					display: block;
					right: 0;
					position: absolute;
					content: '+';
					@include transform( rotate( 45deg ) );
				}
			}			
		}
	
		.content{
			@include opacity( 1 );
			@include transition( opacity 0.5s ease-in-out );
			position: absolute;
			left: $tab_width + em;
			right: 0;
			height: 100%;
			overflow: auto;
		}

		&.off{ 
			.tab{
				@include transition( border-right 0.01s 1s ease-out );
				border-right: 1px solid transparent;
				border-left: 1px solid $colour_grey_dark;
				h1:before{
					display: none;
				}
			}
			.content{
				@include transition( opacity 0.5s ease-in-out );
				@include opacity( 0 );				
			}
		}

		@for $i from 2 through ($tab_count + 1) {
			$max_offset: 3 * $tab_width;
			&:nth-child( #{$i} ){
				$this_offset: ($i - 2) * $tab_width;
				$other_offset: $max_offset - ( ($i - 1) * $tab_width);
				
				width: -webkit-calc( 100% - ( #{$this_offset}em) );
				width: -moz-calc( 100% - ( #{$this_offset}em) );
				width: calc( 100% - ( #{$this_offset}em) );

				//background: lighten( $colour_grey, percentage( ($i - 1)*0.1 ) );
				
				&.off{
					//@include transform( translateX( calc(100% - 2em) ));
					@include transform( translateX( 100% ));
					right: #{$max_offset - $this_offset}em;
				}

				.content{
					right: #{$other_offset}em;
				}
			}
		}
		
	}
}

.section{
	width:100%;
	height: 100%;
	padding: 3em  #{($tab_width * $tab_count) + 1}em 3em 3em;
	overflow: auto;
}

.section.section--capture{
	.video-container{
		position: relative;	
		video{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: auto;
		}
		canvas{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: auto;	
		}
	}
	.controls{
		.debug-container{
			canvas{
				width: 100%;
				height: auto;
			}
		}
	}
}

.section.section--results{
	.gesture-results--list{
		.gesture-results--snapshot-item{
			margin-bottom: 3em;
			overflow: hidden;
			.meta{
				height: 2em;
				li{
					display: inline-block;
					&:after{
						content: ' / ';
						&:last-child{
							content: '';
						}
					}
				}
			}
			.data{
				li{
					float: left;
					width: 17.6%;
					margin-right: 3%;
					min-height: 5em;
					height: 100%;
					position: relative;
					&:last-child{
						margin-right: 0;
					}
					img{
						display: block;
						width: 100%;
						height: auto;
					}
				}
				&.unprocessed{
					.dynamic{
						border: 1px solid $colour_grey;
					}
				}
			}
		}
	}
}

.section.section--analysis{
	.gesture-analysis--list{
		.gesture-analysis--graph-container{
			margin-bottom: 3em;
			.data{
				height: 3em;
				line-height: 3em;
				border-bottom: 1px solid $colour_grey_dark;

			}
			.graph{

			}
		}
	}
}